body > div.container > nav.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

body > div.container > nav.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #ddd;
  padding: 0 1rem;
}

body > div.container > nav.global-nav > div.global-nav-links,
body > div.container > nav.local-nav > div.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

body > div.container > nav.global-nav > div.global-nav-links {
  justify-content: space-between;
}

body > div.container > nav.local-nav > div.local-nav-links > a {
  font-size: 0.8rem;
}

body
  > div.container
  > nav.local-nav
  > div.local-nav-links
  > a:not(:first-child) {
  margin-left: 2em;
}

body > div.container > nav.local-nav > div.local-nav-links > a.product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
